body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.homepage {
    padding: 20px;
    background-image: url('background.jpg'); /* Add your desired background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* High transparency */
}

.rules {
    margin-top: 20px;
}

.play-button {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.move-img {
    width: 60px; /* Adjust size as needed */
    height: auto;
}

.animation {
    font-size: 32px;
    margin-bottom: 20px;
}

.results {
    font-size: 18px;
    margin-bottom: 20px;
}

.scoreboard {
    font-size: 18px;
}

@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }

    .results {
        flex-direction: column;
        align-items: center;
    }
}
