body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}
.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height for vertical centering */
}

.homepage {
    padding: 20px;
}

.rules {
    margin-top: 20px;
}

.play-button {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.play-button:hover {
    background-color: #005bb5;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.move-img {
    width: 215px;
    height: auto;
}

.animation {
    font-size: 32px;
    margin-bottom: 20px;
}

.results {
    font-size: 18px;
    margin-bottom: 20px;
}

.scoreboard {
    font-size: 18px;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #333;
    position: relative; /* This ensures footer sticks at the bottom */
}

@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }
    .move-img {
        width: 161px;
        height: auto;
    }

    .results {
        flex-direction: column;
        align-items: center;
    }
}
